#### SQLite 
    - RDBMS(관계형 데이터 베이스)
    - 서버가 아니라 응용 프로그램에 넣고 사용하는 가벼운 데이터베이스
    - python, 핸드폰, 스프링부터

In [1]:
import sqlite3
import datetime

print("sqlite3 version",sqlite3.version)
print("sqlite3 version",sqlite3.sqlite_version)

now = datetime.datetime.now() #모듈명.클래스명.메소드명
nowDateTime = now.strftime("%Y-%m-%d %H:%M:%S")
print("date",nowDateTime)

sqlite3 version 2.6.0
sqlite3 version 3.42.0
date 2023-06-23 10:41:35

In [2]:
from datetime import datetime
print(datetime.now())

2023-06-23 10:47:35.582285

#### 데이터베이스 생성

In [4]:
conn = sqlite3.connect("/source/pythonsource/resource/test.db",isolation_level=None)

In [5]:
cursor = conn.cursor()

In [6]:
cursor.execute("create table if not exists users(id integer primary key, username text, email text,"
               "phone text, website text, regdate text)")

In [17]:
cursor.execute("insert into users(id,username,email,phone,website,regdate) "
               "values(1,'kim','kim#naver.com','010-1234-1234','kim.com',?)",(nowDateTime,))

In [18]:
cursor.execute("insert into users(id,username,email,phone,website,regdate) "
               "values(?,?,?,?,?,?)",(2,'Park','pak@naver.com','010-4567-1234','Park.com',nowDateTime))

In [19]:
userList = ((3,'hong','hong@naver.com','010-4567-4567','hong.com',nowDateTime),
            (4,'cho','cho@naver.com','010-4567-1235','cho.com',nowDateTime),
            (5,'yoo','yoo@naver.com','010-4567-1236','yoo.com',nowDateTime))

cursor.executemany("insert into users(id,username,email,phone,website,regdate)" 
                   "values(?,?,?,?,?,?)",userList)

In [12]:
cursor.execute("delete from users")

In [16]:
#rowcount : 삭제된 행 개수
cursor.execute("delete from users").rowcount

5

데이터 조회
    - fetchone(), fetchmany(), fetchall()

In [20]:
cursor.execute("select *from users")

In [22]:
cursor.fetchone()

(2,
 'Park',
 'pak@naver.com',
 '010-4567-1234',
 'Park.com',
 '2023-06-23 10:41:35')

In [25]:
cursor.fetchmany(size=2)

[]

In [26]:
cursor.fetchall

In [28]:
cursor.execute("select *from users")
for c in cursor.fetchall():
    print(c)

(1, 'kim', 'kim#naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:35')
(2, 'Park', 'pak@naver.com', '010-4567-1234', 'Park.com', '2023-06-23 10:41:35')
(3, 'hong', 'hong@naver.com', '010-4567-4567', 'hong.com', '2023-06-23 10:41:35')
(4, 'cho', 'cho@naver.com', '010-4567-1235', 'cho.com', '2023-06-23 10:41:35')
(5, 'yoo', 'yoo@naver.com', '010-4567-1236', 'yoo.com', '2023-06-23 10:41:35')

In [29]:

for c in cursor.execute("select *from users order by id desc"):
    print(c)

(5, 'yoo', 'yoo@naver.com', '010-4567-1236', 'yoo.com', '2023-06-23 10:41:35')
(4, 'cho', 'cho@naver.com', '010-4567-1235', 'cho.com', '2023-06-23 10:41:35')
(3, 'hong', 'hong@naver.com', '010-4567-4567', 'hong.com', '2023-06-23 10:41:35')
(2, 'Park', 'pak@naver.com', '010-4567-1234', 'Park.com', '2023-06-23 10:41:35')
(1, 'kim', 'kim#naver.com', '010-1234-1234', 'kim.com', '2023-06-23 10:41:35')

In [34]:
cursor.execute("select*from users where id=?",(3,))
cursor.fetchall()

[(3,
  'hong',
  'hong@naver.com',
  '010-4567-4567',
  'hong.com',
  '2023-06-23 10:41:35')]

In [35]:
cursor.execute("select*from users where id=%d"%4)
cursor.fetchall()

[(4,
  'cho',
  'cho@naver.com',
  '010-4567-1235',
  'cho.com',
  '2023-06-23 10:41:35')]

In [36]:
cursor.execute("select*from users where id in(?,?)",(3,5))
cursor.fetchall()

[(3,
  'hong',
  'hong@naver.com',
  '010-4567-4567',
  'hong.com',
  '2023-06-23 10:41:35'),
 (5,
  'yoo',
  'yoo@naver.com',
  '010-4567-1236',
  'yoo.com',
  '2023-06-23 10:41:35')]

In [37]:
cursor.execute("select*from users where id in(%d,%d)"%(3,5))
cursor.fetchall()

[(3,
  'hong',
  'hong@naver.com',
  '010-4567-4567',
  'hong.com',
  '2023-06-23 10:41:35'),
 (5,
  'yoo',
  'yoo@naver.com',
  '010-4567-1236',
  'yoo.com',
  '2023-06-23 10:41:35')]

In [39]:
cursor.execute("update users set username =? where id=?",('young',2))

In [42]:
cursor.execute("update users set username ='%s' where id='%d'" % ('Park',2))

In [43]:
cursor.execute("delete from users where id=?",(5,))

In [44]:
cursor.execute("delete from users where id=%d"%4)